@{
    Page.Title = "Manage Products";
    Layout = "~/_SiteLayout.cshtml";

    // Declare a bunch of variables to get any post data from the user
    int productId, supplierId, categoryId;
    string productName, quantity, pid, sid, cid, up, stock, order, reorder, disc;
    decimal unitPrice;
    short inStock, onOrder, reorderLevel;
    bool isDiscontinued;

    // Pull the data from the Request.Form collection
    pid = Request.Form["productId"];
    productName = Request.Form["productName"];
    sid = Request.Form["supplierId"];
    cid = Request.Form["categoryId"];
    quantity = Request.Form["qtyPerUnit"];
    up = Request.Form["price"];
    stock = Request.Form["inStock"];
    order = Request.Form["onOrder"];
    reorder = Request.Form["reorder"];
    disc = Request.Form["discontinued"]; // checkbox -> "on"
    isDiscontinued = !string.IsNullOrEmpty(disc);

    // Get all products, categories, & suppliers for the drop-downs
    var db = Database.Open("NW");
    var allProducts = db.Query("SELECT ProductID, ProductName FROM Products");
    var allSuppliers = db.Query("SELECT SupplierID, CompanyName FROM Suppliers");
    var allCategories = db.Query("SELECT CategoryID, CategoryName FROM Categories");
}

<form method="post">
    <label for="currentProducts">Current Products</label>
    <select id="currentProducts" name="currentProducts">
        <option value="">[Select a Product]</option>
        @foreach (var item in allProducts)
        {
            <option value="@item.ProductID">@item.ProductName</option>
        }
    </select>
    <button type="submit" name="command" value="select">Select Product</button>

    <fieldset>
        <legend>Product Details</legend>
        Product Id <input type="text" name="productId" value="@pid" disabled /><br />
        Product name <input type="text" name="productName" value="@productName" /><br />

        Supplier
        <select name="supplierId">
            <option value="">[no supplier]</option>
            @foreach (var item in allSuppliers)
            {
                <option value="@item.SupplierID">@item.CompanyName</option>
            }
        </select><br />
        Category
        <select name="categoryId">
            <option value="">[no category]</option>
            @foreach (var item in allCategories)
            {
                <option value="@item.CategoryID">@item.CategoryName</option>
            }
        </select><br />

        Quantity/Unit <input type="text" name="qtyPerUnit" value="@quantity" /><br />
        Unit Price <input type="text" name="price" value="@up" /><br />
        In Stock <input type="number" name="inStock" value="@stock" /><br />
        On Order <input type="number" name="onOrder" value="@order" /><br />
        Reorder Level <input type="number" name="reorder" value="@reorder" /><br />
        Discontinued <input type="checkbox" name="discontinued" checked="@isDiscontinued" /><br />
    </fieldset>
    <button type="submit" name="command" value="add">Add Product</button>
    <button type="submit" name="command" value="update">Update Product</button>
    <button type="submit" name="command" value="delete">Delete Product</button>
</form>